In [3]:
my_string="Barcelona Technology School"

In [6]:
my_string

'Barcelona Technology School'

In [7]:
type(my_string)

str

In [8]:
len(my_string)

27

In [15]:
number = "5"
number_as_int =int(number)
print(type(number_as_int))

<class 'int'>

In [14]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [18]:
my_new_string = my_string.replace("Barcelona", "My")
print(my_new_string)

My Technology School

In [22]:
my_new_string = my_string.replace("o", "?")
print(my_new_string)

Barcel?na Techn?l?gy Sch??l

In [24]:
my_str = "Python"
secret = "{} is cool".format(my_str)
print(secret)

Python is cool

In [27]:
pandas = "pandas"
numpy = "numpy"
requests = "requests"
pyhton_libs = ",".join([pandas,numpy,requests])
print(pyhton_libs)

#works only for strings

pandas,numpy,requests

In [31]:
some_libs = "1"
some_other_libs = "2"
all_libs = "?".join([some_libs,some_other_libs])
print(all_libs)

1?2

In [33]:
"{0} {2} {1}".format("One","Two","Three")

'One Three Two'

In [37]:
mixed_case = "BaRceLonA"
print(mixed_case.upper())
print(mixed_case.lower())
print(mixed_case.title())

BARCELONA
barcelona
Barcelona

##
WHAT?

In [76]:
a = 5.4
b = 3.7
c = 2

print(str(a) + "; " + str(b) + "; " + str(c))
print( a + b )

5.4; 3.7; 2
9.100000000000001

In [44]:
a=5.4
b=3.4
c=2

print(str(a) + str(b) + str(c))
print( a + b + c)

5.43.42
10.8

In [45]:
ugly_formatted = " \n \t This is with wierd formating \t \n"
stripped = ugly_formatted.strip()
print(stripped)

This is with wierd formating

In [48]:
sentance = "This is my sentance"
split_sentance = sentance.split()
print(split_sentance)

['This', 'is', 'my', 'sentance']

In [51]:
sentance = "apple, banana, orange"
split_sentance = sentance.split(", ")
print(split_sentance)

['apple', 'banana', 'orange']

In [65]:
ugly_mixed_case = "   ThiS looKs \t UglY"
pretty = ugly_mixed_case.strip().title().replace( "ugly", "good")
print(pretty)

This Looks 	 Ugly

In [61]:
a = 4
b = 5
print( a, b, a * b )
print( a, b, a * b, sep=" / ")

4 5 20
4 / 5 / 20

# Numbers

In [77]:
my_int = 7
print("My intiger is {} and it's type is {}".format(my_int,type(my_int)))

My intiger is 7 and it's type is <class 'int'>

In [78]:
my_float = float(my_int)
print("My intiger is {} and it's type is {}".format(my_float,type(my_float)))

My intiger is 7.0 and it's type is <class 'float'>

In [81]:
print(1 / 1)
print(6 / 5)

1.0
1.2

In [83]:
val = 0.1 + 0.1 + 0.1
print(val == 0.3)
print(val)

False
0.30000000000000004

In [84]:
7 // 5
# the whole part of the division

1

In [85]:
7 % 5
# remainder

2

In [86]:
7 / 5

1.4

In [88]:
2 ** 4

16

In [89]:
from decimal import Decimal
from_float = Decimal(0.1)
from_str = Decimal("0.1")
print('from float: {} \nfrom string: {}'.format(from_float, from_str))

from float: 0.1000000000000000055511151231257827021181583404541015625
from string: 0.1

In [92]:
my_decimal = Decimal("0.1")
sum_of_decimals = my_decimal + my_decimal + my_decimal
print(sum_of_decimals == 0.3)
print(sum_of_decimals == Decimal ("0.3"))

False
True

In [97]:
val = '%.4f' % (12345212.5678493)
print(val)
print(type(val))

float_val = float(val)
print(float_val)

12345212.5678
<class 'str'>
12345212.5678

In [100]:
import decimal

# decimal.getcontext().rounding = decimall.ROUND_DOWM
c = decimal.Decimal(34.8327461)
print(round(c))
print(float(c))
print(float(round(c,2)))
decimal.getcontext().rounding = decimal.

35
34.8327461
34.83

# Conditions

In [107]:
print("0: {}, 1: {}".format(bool(0), bool(1)))
print("empty list: {},list with values: {}".format(bool([]), bool(["woop"])))
print("empty list: {},list with values: {}".format(bool({}), bool({"Pyhton" : "Cool"})))

0: False, 1: True
empty list: False,list with values: True
empty list: False,list with values: True

In [110]:
print("1 > 0: {}".format(1 > 0))
print("1 <= 0: {}".format(1 <= 0))

1 > 0: True
1 <= 0: False

In [113]:
print("1 <= 2 < 3 : {}".format(1 <= 2 <= 3))

1 < 2 < 3 : True

In [116]:
statement = True

if statement:
    print ("Statement is true!")
else:
    print("Statement is false!")

Statement is true!

In [117]:
val = 3

if 0 <= val < 1 or val == 3:
    print("The value is positive and it is less than 1 or equal to 3")

The value is positive and it is less than 1 or equal to 3

# Loops

In [ ]:
while True:
    print("Hi")